# Python
__pycache__/
*.pyc
.venv/
env/

# Tools/IDE
.idea/
.vscode/
*.code-workspace

# Build
dist/
build/
*.egg-info/

# Runtime artifacts
bronze/
spark-warehouse/
jars/

# Env
.env
scripts/with-env.ps1
